.groups-page{
    min-height: 100vh;
}

.groups-page-content{
    height: 100%;
}

.groups-page-content-hide{
    opacity: 0.8;
}

.groups-page-content-top{
    display: flex;
    height: 71.350px;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.groups-page-content-top-button{
    margin-left: auto;
    margin-right: 1%;
    background-color: transparent;
    cursor: pointer;
    height: 60%;
    border: none;
}

.groups-page-content-top-button > img{
    height: 100%;
    width: auto;
}

.groups-page-content-main{
    min-height: 80vh;
    width: 94%;
    background-color: #A5A682;
    text-align: start;
    padding: 5vh 3%;
}

.groups-page-content-main-pending{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #FBB651;
}

.groups-page-content-main-pending > h3{
    margin-bottom: 15px;
}

.groups-page-content-main-pending-indiv{
    border: 1px solid black;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.groups-page-content-main-pending-indiv-buttons{
    display: flex;
}

.groups-page-content-main-pending-indiv-buttons > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: 2px 2px;
}

.groups-page-content-main-current{
    border: 1px solid black;
    padding: 15px;
    background-color: #FBB651;
}

.groups-page-content-main-current-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.groups-page-content-main-current-header-createsection-button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #0000EE;
    text-decoration: underline;
}

.groups-page-content-main-current-header-createsection-form input{
    margin-left: 10px;
}

.groups-page-content-main-current-individualDisplay{
    border: 1px solid black;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.groups-page-content-main-current-individualDisplay-buttons{
    display: flex;
    position: relative;
}

.groups-page-content-main-current-individualDisplay-buttons-viewmore{
    position: absolute;
    background-color: transparent;
    top: -2vh;
    left: -90vw;
    width: 92vw;
    height: 7vh;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

.groups-page-content-main-current-individualDisplay-buttons-remove{
    z-index: 90;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 2px 2px;
}

.groups-page-content-main-current-individualDisplay-full{
    font-family: Helvetica;
    background-color: #794577;
    height: 70vh;
    min-height: 90%;
    padding: 2%;
    padding-bottom: 0.25%;
    display: flex;
    overflow-y: hidden;
}

.groups-page-content-main-current-individualDisplay-full-section1{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    width: 27%;
    margin-right: 3%;
    background-color: #FBB651;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.groups-page-content-main-current-individualDisplay-full-section2{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    width: 65%;
    background-color: #FBB651;
    overflow-y: auto;
}

.groups-page-content-main-current-individualDisplay-full-section-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.groups-page-content-main-current-individualDisplay-full-section-header-button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #0000EE;
    text-decoration: underline;
}

.groups-page-content-main-current-individualDisplay-full-section-content{
    border: 1px solid black;
    padding: 15px;
    padding-top: 5px;
    border-radius: 12px;
    align-items: center;
}

.groups-page-content-main-current-individualDisplay-full-section-content-indiv{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.groups-page-content-main-current-individualDisplay-full-section-content-indiv > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: 2px 2px;
}

.groups-page-content-main-current-individualDisplay-full-section-indiv{
    border: 1px solid black;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;  
}

.groups-page-content-main-current-individualDisplay-full-section-indiv > hr{
    height: 70%;
    width: 30px;
    transform: rotate(90deg);
}

.groups-page-content-main-current-individualDisplay-full-section-indiv-section{
    width: 70%;
    text-align: start;
    padding: 15px;
    margin-left: 0px;
}