.sidebar{
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #FBB651;
  z-index: 10;
  /*animation-name: fadeInLeft;*/
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  transition: opacity 2s;
}

@-webkit-keyframes fadeIn {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  to { 
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}
@keyframes fadeIn {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  to { 
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.sidebar-show{
  display: flex !important;
  -webkit-animation: fadeIn 0.375s;
  animation: fadeIn 0.375s;
  opacity: 1;
}

.sidebar-close-button{
  position: absolute;
  top: 3%;
  right: 4%;
  color: red;
  background-color: transparent;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.sidebar-content{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  text-align: start;
}

.sidebar-content > img{
  margin-top: -5%;
}

.sidebar-content > hr{
  margin-bottom: 15%;
}


.sidebar-content button{
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 10%;
  margin-left: 3%;
  color: white;
  background-color: transparent;
  width: 30%;
  cursor: pointer;
  text-align: start;
  border: none;
}