.footer{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

.footer > img{
    height: 50px;
    width: auto;
}

.footer > p{
    font-size: 13px;
}