.dashboard-page{
    position: relative;
    height: 100vh;
}

.dashboard-page-content{
    height: 100%;
}

.dashboard-page-content-top{
    position: relative;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.dashboard-page-content-top-button{
    margin-left: auto;
    margin-right: 1%;
    background-color: transparent;
    cursor: pointer;
    height: 60%;
}

.dashboard-page-content-main{
    height: 90%;
    width: 100%;
    background-color: #A5A682;
}
